body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

nav {
    margin: o;
    padding: 0;
    width: 100%;
    background-color: #a32242;
}
.title {
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}
.title h3 {
    margin: 0;
} 

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.navigation {
    float: right;
    margin-right: 20px;
}

.nav-item {
    display: inline-block;
}


.btn {
    color: white;
    padding: 10px 15px;
}

.btn:hover {
    background-color: #741635;
}

.dropdown {
    position: absolute;
    top: 6.5%;
    display: none;
    background-color: #cfcfcf;
    margin: 0;
    padding: 0;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}

.nav-item:hover .dropdown {
    display: block;
}


.dropdown a:hover {
    background-color: #999;
}

.dropdown a{
    display: block;
    padding: 10px 20px;
}

.dropdown2 {
    position: relative;
}

.dropdown2:hover .level2{
    display:block;
}

.level2 {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: #cfcfcf;
    margin: 0;
    padding: 0;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

.level2 a:hover{
    background-color: #999;
}

.lastone {
    position: absolute;
    left: -130%;
}
