body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* font-family: 'Mulish', sans-serif; */
    background-color: #333;
    font-family: 'Poppins',sans-serif;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top-contents {
    position: relative;
    background-image: url("https://www.firstcom.com.sg/wp-content/uploads/2019/11/home_banner_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #08496b;
    z-index: 99;
}

/* logo */

.logo {
    background-color: white;
    position: absolute;
    left: 0;
    transform: translate(-15%);
    width: 220px;
    height: 90px;
    border-radius: 0px 0px 40px 0px;
    box-shadow:0px 0px 30px rgba(0, 0, 0, 0.500);
    transition: transform 0.3s;
}

.logo:hover {
    transform: translate(1px);
}

.logo img {
    position: relative;
    top: 50%;
    left:50px;
    transform: translate(0%, -50%);
    width: 150px;
}

/* navigation */

.navigation {
    float: right;
}

.navigation ul {
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    list-style: none;
    padding: 25px 10px;
    margin: 0px 20px 0px 0px;
    color: white;
    background: linear-gradient(to right,#f9d409  49%, #08496b 49%);
    background-size: 200%;
    background-position: right;
    transition: all .5s;
}

.navigation li:hover {
    background-position: left;
    color: black;
}

/* callUs */

.callUs {
    vertical-align: bottom;
    display: inline-block;
    font-size: 16px;
    background-color: #f9d409;
    color: black;
    padding: 13px 20px;
}

.callUs span {
    font-size:18px;
    font-weight: 600;
}

.callUs:hover {
    background-color: #337ab7;
    color: white;
}

/* banner */

.banner {
    position: relative;
}

/* banner text */


.catchtitle {
    padding-top: 170px;
    text-align: center;
}

.catchtitle h1 {
    color: #303030;
    font-family: 'Montserrat',sans-serif;
    font-size: calc(30px + 2.60416666667vw);
    font-weight: 700;
    line-height: 1.1;
}

.catchtitle p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10px;
    color: #337ab7;
}

/* decarative stuffs */

.wheel {
    position: absolute;
    width: 38px;
    top: 100px;
    left: 150px;
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}


.smallblueballoon {
    position: absolute;
    top: 0%;
    left: 70%;
    width: 150px;
    animation: smallballoon 4s infinite linear;
}

@keyframes smallballoon {
    0%{
        transform: translate(0%, 0%);
    }
    25%{
        transform: translate(0%, 5%);
    }
    50%{
        transform: translate(0%, 10%);
    }
    75%{
        transform: translate(0%, 5%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}

.bigblueballoon {
    position: absolute;
    top: 0%;
    left: -18%;
    width: 450px;
    animation: bigballoon 3s infinite linear;
}

@keyframes bigballoon {
    0%{
        transform: translate(0%, -2%);
    }
    25%{
        transform: translate(0%, 0%);
    }
    50%{
        transform: translate(0%, 2%);
    }
    75%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(0%, -2%);
    }
}


.whiteballoon {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 340px;
    left: 75%;
    width: 380px;
    animation: whiteballoon 5s infinite linear;
}

.mediumblueballoon {
    position: relative;
    top: -75%;
    right: -75%;
}


@keyframes whiteballoon {
    0%{
        transform: translate(0%, -10%);
    }
    25%{
        transform: translate(0%, -5%);
    }
    50%{
        transform: translate(0%, 0%);
    }
    75%{
        transform: translate(0%, -5%);
    }
    100%{
        transform: translate(0%, -10%);
    }
}

.cld1 {
    position: absolute;
    top: 140px;
    left: 160px;
    width: 100px;
    animation: cloud 5s infinite linear;
}

.cld2 {
    position: absolute;
    top: 150px;
    left: 90%;
    width: 110px;
    animation: cloud 4s infinite linear;
}


.cld3 {
    position: absolute;
    top: 170px;
    left: 900px;
    width: 120px;
    animation: cloud 6s infinite linear;
}

@keyframes cloud {
    0%{
        transform: translate(-10%, 0%);
    }
    25%{
        transform: translate(-5%, 0%);
    }
    50%{
        transform: translate(0%, 0%);
    }
    75%{
        transform: translate(-5%, 0%);
    }
    100%{
        transform: translate(-10%, 0%);
    }
}


/* left side */

.pc {
    position: absolute;
    top: 75%;
    left: 0;
    width: 200px;
}

.hand {
    position: absolute;
    top: 106%;
    left: 9%;
    width: 60px;
    animation: handgrab 5s infinite linear;
}

@keyframes handgrab {
    0%{
        transform: translate(0px, 0%);
        opacity: 1;
    }
    25%{
        transform: translate(-30px, 0%);
        opacity: 0.5;
    }
    50%{
        transform: translate(-60px, 0%);
        opacity: 0;
    }
    75%{
        transform: translate(-30px, 0%);
        opacity: 0.5;
    }
    100%{
        transform: translate(0px, 0%);
        opacity: 1;
    }
}

.coffeecup {
    position: absolute;
    top: 450px;
    left: 150px;
    width: 30px;
    animation: cupmove 5s infinite linear;
}

@keyframes cupmove {
    0%{
        transform: translate(0%, 0px);
    }
    25%{
        transform: translate( 0%, 40px);
    }
    50%{
        transform: translate(0%, 80px);
    }
    75%{
        transform: translate(0%, 40px);
    }
    100%{
        transform: translate(0%, 0px);
    }
}

.ribbon {
    position: fixed;
    top: 65px;
    right: 0;
    width: 45px;
    z-index: 99;
}

/* enquiry pole */

.enquirypole {
    position: fixed;
    top: 100px;
    right: 0;
    width: 50px;
    z-index: 1;
}

.psg {
    transition: all 0.5s;
}

.psg:hover {
    transform: scale(1.1);
}

.pole {
    vertical-align: bottom;
    text-align: center;
    position: relative;
    top: 67px;
    right: 150%;
    width: 200px;
    height: 50px;
    transform: rotate(90deg);
    font-size: 12px;
    background-color: #f9d409;
    border: 5px solid white;
    border-radius: 0px 0px 30px 30px;
    transition: all 0.5s;
}

.pole:hover {
    width: 210px;
    height: 60px;
}


/* clints */

.clints {
    position: absolute;
    top: 500px;
    left: 290px;
}

.clints img {
    width: 230px;
    margin-right: 20px;
}


.scrolltext {
    position: absolute;
    top: 130%;
    left: 44%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 16px;
    color: #337ab7;
    animation: textmove 2s infinite linear;
}


@keyframes textmove {
    0%{
        transform: translate(0%, -30px);
    }
    25%{
        transform: translate( 0%, 0px);
    }
    50%{
        transform: translate(0%, 30px);
    }
    75%{
        transform: translate(0%, 0px);
    }
    100%{
        transform: translate(0%, -30px);
    }
}

.main-content {
    position: relative;
    background:url('https://www.firstcom.com.sg/wp-content/uploads/2019/07/home_about_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.secondbanner {
    padding: 80px;
    height: 300px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.300);
}

.trustus {
    width: 50%;
    margin-right: 20px;
}

.trustus h1, .trustus h2, .trustus h3{
    margin: 0;
    padding: 0;
}

.trustus h1 {
    font-size: 60px;
    font-weight: 700;
    color: #08496b;
}

.trustus h3 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
}

.learnbtn {
    font-size: 16px;
    color: white;
    width: 180px;
    height: 60px;
    background-color: #08496b;
    outline: none;
    border: 0;
    border-radius: 30px;
    margin: 40px 0px;
    transition: all 0.5s;
}

.learnbtn:hover {
    transform: scale(1.1);
    background-color: #333;
}

.trustus h2 {
    font-size: 40px;
    font-weight: 600;
    color: #337ab7;
}

.linktext {
    font-size: 12px;
}

.linktext a {
    color: #337ab7;
}


.highlight-text {
    width: 50%;
}

.highlight-text p {
    margin: 0;
}

.servicecards {
    height: 500px;
    position: relative;
    text-align: center;
    background-color: #f9d409;
}

.servicecards h1 {
    position: relative;
    font-size: 26px;
    padding: 70px 0px;
    color: #333;
}


.help {
    position: absolute;
    width: 220px;
    height: 260px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 2px 5px 2px #333333;
    color: white;
}

.help:hover {
    background-color: #f9d409; 
    color: #337ab7;
}


.help h4 {
    margin: 0;
    font-weight: 600;
}

.help img {
    margin: 0;
    width: 190px;
}

.card1, .card3, .card5 {
    background-color: #337ab7;
}

.card2, .card4 {
    background-color: #444;
}

.card1{
    left: 130px;
    transform: rotate(3deg);
    animation: updown 7s infinite linear;
}

.card2 {
    left: 360px;
    transform: rotate(4deg);
    animation: updown 9s infinite linear;
}

.card3 {
    left: 590px;
    transform: rotate(2deg);
    animation: updown 5s infinite linear;
}

.card4 {
    left: 820px;
    transform: rotate(3deg);
    animation: updown 8s infinite linear;
}

.card5 {
    left: 1050px;
    transform: rotate(3deg);
    animation: updown 6s infinite linear;
}

.crd1 {
    animation: rotate 7s infinite linear;
}

.crd2 {
    animation: rotate 9s infinite linear;
}


.crd3 {
    animation: rotate 5s infinite linear;
}

.crd4 {
    animation: rotate 8s infinite linear;
}

.crd5 {
    animation: rotate 6s infinite linear;
}

@keyframes updown {
    0%{
        transform: translate(0%, -20%);
    }
    25%{
        transform: translate( 0%, -10%);
    }
    50%{
        transform: translate(0%, 0%);
    }
    75%{
        transform: translate(0%, -10%);
    }
    100%{
        transform: translate(0%, -20%);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(4deg);
    }
    25%{
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(4deg);
    }
}

.partner-banner {
    display: flex;
    background-color: white;
    padding: 70px;
    background:url('https://www.firstcom.com.sg/wp-content/uploads/2020/10/google-partner-bg-min.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover
}

.partner-banner-text {
    width: 70%;
}

.partner-banner-text h1 {
    margin: 0;
    font-size: 36px;
    color: #08496b;
}

.partner-banner-text p {
    font-size: 14px;
    color: #333;
}
.partner-banner-image {
    width: 399;
    height: 159;
    transform: translate(0%, -5%);
}
.web-visitors {
    position: relative;
    background:url('https://www.firstcom.com.sg/wp-content/uploads/2020/10/web-visitor-bg-min.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.web-visitors-title-text {
    margin: 0px 140px;
    padding: 50px;
    text-align: center;
    color: white;
}

.web-visitors-title-text span {
    color: #f9d409;
}

.web-visitors-title-text {
    font-size: 14px;
}

.specifications {
    width: max-content;
    height: max-content;
    margin: 0px 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.180);
    padding: 40px;
    border-radius: 20px;
}

.spec {
    position: relative;
    padding: 20px;
    margin: 10px;
    float: left;
    width: 330px;
    height: 220px;
    text-align: center;
    background-color: #337ab7;
    box-sizing: border-box;
    border-radius: 30px;
}

.specimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.200);
}

.specimg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

.spec p {
    font-size: 14px;
    margin-top: 50%;
    color: #f9d409;
}

@media screen and (max-width: 1280px) {
    body{
        background-color: red;
    }
}