body {
    background-color: lightblue;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.clouds img {
    width: 600px;
    height: 300px;
}

.cloudinvert {
    transform: rotate(180deg);
}

.controls {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

.IOBTN, .reset{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #2c2b2b;
    background: #44e28b;
    border: none;
    outline: none;
    border-radius: 10px;
}

button:hover {
    background-color: #3bce7d;
}

.controls .score {
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.moveables {
    width:100%;
    height: 120%;
}

.moveables img {
    width: 50px;
    height: 118.25px;
}

.scoreWindow {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.400);
}

#scoreBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    background-image: url("../../../assets/images/celebrationBalloons.jpg");
}

#scoreBoard .score {
    width: max-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 110px;
    color: black;
    font-size: 50px;
    font-weight: 900;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);

}

#scoreBoard .IOBTN {
    margin-top: 30px;
}

.show {
    display: block;
}