body {
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.board {
    background-image: url('../../../assets/images/Red_wooden_furniture.jpg');
    min-width: 60%;
    height: 100vh;
    position: relative;
}

#startButton {
    display: inline-block;
}

#shuffle {
    display: inline-block;
}

#gameBox {
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin-bottom: 4px;
}

.dices {
    display: inline-block;
    background-color: white;
    width: 120px;
    height: 120px;
    margin-right: 5px;
    vertical-align: top;
}

.element {
    display: none;
    width: 100%;
}

.show {
    display: block;
}